.app {
  min-height: 50vh;
}

.container {
  display: flex;
  background-color: teal;
  padding: 10px;
  justify-content: space-between;
}

.logo {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  font-style: italic;
}

.me-auto {
  display: flex;
  padding: 10px;
  align-items: end;
}

#basic-nav-dropdown {
  display: block;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  padding: 10px;
  align-items: end;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}