.attractions {
    text-align: center;
    background-color: peachpuff;
    min-height: 100vh;
    padding-top: 50px;
}

.attractions-list {
    list-style-type: none;
    border: solid 1px black;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10%;
    margin-top: 20px;
}

#attractions-paragraph {
    font-style: italic;
}

.attractions-item {
    padding: 10px;
    align-items: center;
}